@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  --white: #fff;
  --color-primary: #0f172a;
  --astro-gradient: linear-gradient(350deg, #0f172a, #6b21a8);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
  --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --full-black: hsl(0, 0%, 0%);
  --shadow-bg: hsl(210, 40%, 98%);
  --color-border: hsl(17, 24%, 90%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: var(--shadow-bg);
  color:  var(--full-black);
}

a {
  text-decoration: none;
  color:  var(--full-black);
}

p {
  margin: 1rem 0;
}

ul {
  list-style: none;
}

li {
  line-height: 2;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: var(--full-black);
  color: var(--white);
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.logos-small {
  display: none;
}



/* ---->
: medi@ queries
:: Part ---> */

@media (max-width: 960px) {
  .logos-small {
    display: block;
    margin: auto;
  }
  .logos {
    display: none;
  }
}

@media (max-width: 500px) {
  .features .container {
    grid-template-columns: 1fr;
  }

  h1,
  h2 {
    text-align: center;
  }

  .footer div:nth-child(2) {
    display: none;
  }
}